In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/NYC_property_sales_regression/cpi_index.csv')

In [4]:
df

            Date    Index  Inflation
0     2023-12-01  306.746      -0.10
1     2023-11-01  307.051      -0.20
2     2023-10-01  307.671      -0.04
3     2023-09-01  307.789       0.25
4     2023-08-01  307.026       0.44
...          ...      ...        ...
1327  1913-05-01    9.700      -1.02
1328  1913-04-01    9.800       0.00
1329  1913-03-01    9.800       0.00
1330  1913-02-01    9.800       0.00
1331  1913-01-01    9.800        NaN

[1332 rows x 3 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1332 entries, 0 to 1331
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1332 non-null   object
 1   Index      1332 non-null   float64
 2   Inflation  1331 non-null   float64
dtypes: float64(2), object(1)
memory usage: 31.3+ KB

In [6]:
df['Date'] = pd.to_datetime(df['Date'])
df_filtered = df[df['Date'] >= '2003-01-01']

In [7]:
df_filtered = df_filtered.drop(columns=['Inflation'])

In [8]:
df_filtered

          Date    Index
0   2023-12-01  306.746
1   2023-11-01  307.051
2   2023-10-01  307.671
3   2023-09-01  307.789
4   2023-08-01  307.026
..         ...      ...
247 2003-05-01  183.500
248 2003-04-01  183.800
249 2003-03-01  184.200
250 2003-02-01  183.100
251 2003-01-01  181.700

[252 rows x 2 columns]

In [9]:
df_filtered['Year'] = df_filtered['Date'].dt.year
df_filtered['Month'] = df_filtered['Date'].dt.month

In [10]:
df_filtered

          Date    Index  Year  Month
0   2023-12-01  306.746  2023     12
1   2023-11-01  307.051  2023     11
2   2023-10-01  307.671  2023     10
3   2023-09-01  307.789  2023      9
4   2023-08-01  307.026  2023      8
..         ...      ...   ...    ...
247 2003-05-01  183.500  2003      5
248 2003-04-01  183.800  2003      4
249 2003-03-01  184.200  2003      3
250 2003-02-01  183.100  2003      2
251 2003-01-01  181.700  2003      1

[252 rows x 4 columns]

In [11]:
df_filtered = df_filtered.rename(columns={'Index': 'CPI'})

In [12]:
df_filtered

          Date      CPI  Year  Month
0   2023-12-01  306.746  2023     12
1   2023-11-01  307.051  2023     11
2   2023-10-01  307.671  2023     10
3   2023-09-01  307.789  2023      9
4   2023-08-01  307.026  2023      8
..         ...      ...   ...    ...
247 2003-05-01  183.500  2003      5
248 2003-04-01  183.800  2003      4
249 2003-03-01  184.200  2003      3
250 2003-02-01  183.100  2003      2
251 2003-01-01  181.700  2003      1

[252 rows x 4 columns]

In [13]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 252 entries, 0 to 251
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    252 non-null    datetime64[ns]
 1   CPI     252 non-null    float64
 2   Year    252 non-null    int32
 3   Month   252 non-null    int32
dtypes: datetime64[ns](1), float64(1), int32(2)
memory usage: 7.9 KB

In [14]:
df_filtered.to_csv('/content/drive/MyDrive/NYC_property_sales_regression/cpi_index_clean.csv', index=False)