In [1]:
import pandas as pd
pd.set_option('display.max_columns', None) # To show all columns
pd.set_option('display.width', None)       # To ensure wide DataFrames are not wrapped

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
sales = pd.read_csv('/content/drive/MyDrive/NYC_property_sales_regression/nyc_property_sales_cleaned.csv')
pluto = pd.read_csv('/content/drive/MyDrive/NYC_property_sales_regression/PLUTO_cleaned.csv')

In [4]:
sales

,BOROUGH,NEIGHBORHOOD,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,BUILDING CLASS CATEGORY NUMBER,BUILDING CLASS CATEGORY DESCRIPTION,SALE YEAR,SALE MONTH
0,1,ALPHABET CITY,1,374,46,A4,10009.0,1,0,1,2116.0,4400.0,1900.0,1,A4,399000,2022-09-29,1,ONE FAMILY DWELLINGS,2022,9
1,1,ALPHABET CITY,1,377,1,S2,10009.0,2,1,3,1502.0,2790.0,1901.0,1,S2,2999999,2022-09-15,2,TWO FAMILY DWELLINGS,2022,9
2,1,CHELSEA,1,720,6,A4,10011.0,1,0,1,1562.0,4150.0,1901.0,1,A4,11100000,2022-06-17,1,ONE FAMILY DWELLINGS,2022,6
3,1,CHELSEA,1,767,17,A4,10011.0,1,0,1,993.0,4500.0,1910.0,1,A4,6995000,2022-07-28,1,ONE FAMILY DWELLINGS,2022,7
4,1,CHELSEA,1,769,52,S1,10011.0,1,1,2,2300.0,4298.0,1901.0,1,S1,4400000,2022-04-08,1,ONE FAMILY DWELLINGS,2022,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549063,5,WOODROW,1,6913,70,A1,10309.0,1,0,1,4000.0,2124.0,1970.0,1,A1,810000,2023-08-24,1,ONE FAMILY DWELLINGS,2023,8
549064,5,WOODROW,1,6958,24,A5,10309.0,1,0,1,800.0,960.0,1987.0,1,A5,357000,2023-10-31,1,ONE FAMILY DWELLINGS,2023,10
549065,5,WOODROW,1,6971,12,A1,10309.0,1,0,1,4000.0,1632.0,1970.0,1,A1,830000,2023-10-31,1,ONE FAMILY DWELLINGS,2023,10
549066,5,WOODROW,1,6914,51,B2,10309.0,2,0,2,6000.0,1932.0,1976.0,1,B2,949000,2023-10-11,2,TWO FAMILY DWELLINGS,2023,10
549067,5,WOODROW,1,7267,176,B9,10309.0,2,0,2,2655.0,2700.0,1996.0,1,B9,679000,2023-11-13,2,TWO FAMILY DWELLINGS,2023,11

In [5]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549068 entries, 0 to 549067
Data columns (total 21 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   BOROUGH                              549068 non-null  int64
 1   NEIGHBORHOOD                         549068 non-null  object
 2   TAX CLASS AT PRESENT                 549068 non-null  object
 3   BLOCK                                549068 non-null  int64
 4   LOT                                  549068 non-null  int64
 5   BUILDING CLASS AT PRESENT            549068 non-null  object
 6   ZIP CODE                             549068 non-null  float64
 7   RESIDENTIAL UNITS                    549068 non-null  int64
 8   COMMERCIAL UNITS                     549068 non-null  int64
 9   TOTAL UNITS                          549068 non-null  int64
 10  LAND SQUARE FEET                     549068 non-null  float64
 11  GROSS SQUARE FEET                    549068 non-null  float64
 12  YEAR BUILT                           548985 non-null  float64
 13  TAX CLASS AT TIME OF SALE            549068 non-null  int64
 14  BUILDING CLASS AT TIME OF SALE       549068 non-null  object
 15  SALE PRICE                           549068 non-null  int64
 16  SALE DATE                            549068 non-null  object
 17  BUILDING CLASS CATEGORY NUMBER       549068 non-null  int64
 18  BUILDING CLASS CATEGORY DESCRIPTION  549068 non-null  object
 19  SALE YEAR                            549068 non-null  int64
 20  SALE MONTH                           549068 non-null  int64
dtypes: float64(4), int64(11), object(6)
memory usage: 88.0+ MB

In [6]:
pluto

        borough  Tax block  Tax lot  postcode  yearbuilt   latitude  longitude
0             4      11015        1   11412.0     1945.0  40.699428 -73.756191
1             4      10992       35   11412.0     1925.0  40.699584 -73.757179
2             4      11014       22   11412.0     1945.0  40.698506 -73.756306
3             4      11014       59   11412.0     1950.0  40.698347 -73.756617
4             4      10992       24   11412.0     1930.0  40.700031 -73.756993
...         ...        ...      ...       ...        ...        ...        ...
858279        4       1526       64   11373.0        0.0  40.742197 -73.884477
858280        3       1279      200   11213.0        NaN  40.668013 -73.940391
858281        3       7419       18   11235.0        NaN  40.591595 -73.952586
858282        3       3189        3   11237.0        0.0  40.706511 -73.922180
858283        3       1279      182   11213.0        NaN  40.668027 -73.940641

[858284 rows x 7 columns]

In [7]:
pluto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 858284 entries, 0 to 858283
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   borough    858284 non-null  int64
 1   Tax block  858284 non-null  int64
 2   Tax lot    858284 non-null  int64
 3   postcode   856391 non-null  float64
 4   yearbuilt  857950 non-null  float64
 5   latitude   857025 non-null  float64
 6   longitude  857025 non-null  float64
dtypes: float64(4), int64(3)
memory usage: 45.8 MB

In [8]:
pluto_renamed = pluto.rename(columns={'borough': 'BOROUGH', 'Tax block': 'BLOCK', 'Tax lot': 'LOT'})
sales_pluto_combined = pd.merge(sales, pluto_renamed, on=['BOROUGH', 'BLOCK', 'LOT'], how='left')
display(sales_pluto_combined.head())

,BOROUGH,NEIGHBORHOOD,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,BUILDING CLASS CATEGORY NUMBER,BUILDING CLASS CATEGORY DESCRIPTION,SALE YEAR,SALE MONTH,postcode,yearbuilt,latitude,longitude
0,1,ALPHABET CITY,1,374,46,A4,10009.0,1,0,1,2116.0,4400.0,1900.0,1,A4,399000,2022-09-29,1,ONE FAMILY DWELLINGS,2022,9,10009.0,1900.0,40.721716,-73.978275
1,1,ALPHABET CITY,1,377,1,S2,10009.0,2,1,3,1502.0,2790.0,1901.0,1,S2,2999999,2022-09-15,2,TWO FAMILY DWELLINGS,2022,9,10009.0,1901.0,40.724184,-73.978458
2,1,CHELSEA,1,720,6,A4,10011.0,1,0,1,1562.0,4150.0,1901.0,1,A4,11100000,2022-06-17,1,ONE FAMILY DWELLINGS,2022,6,10011.0,1856.0,40.747039,-74.004085
3,1,CHELSEA,1,767,17,A4,10011.0,1,0,1,993.0,4500.0,1910.0,1,A4,6995000,2022-07-28,1,ONE FAMILY DWELLINGS,2022,7,10011.0,1910.0,40.741203,-73.999664
4,1,CHELSEA,1,769,52,S1,10011.0,1,1,2,2300.0,4298.0,1901.0,1,S1,4400000,2022-04-08,1,ONE FAMILY DWELLINGS,2022,4,10011.0,1901.0,40.742579,-73.998376

In [9]:
sales_pluto_combined

,BOROUGH,NEIGHBORHOOD,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,BUILDING CLASS CATEGORY NUMBER,BUILDING CLASS CATEGORY DESCRIPTION,SALE YEAR,SALE MONTH,postcode,yearbuilt,latitude,longitude
0,1,ALPHABET CITY,1,374,46,A4,10009.0,1,0,1,2116.0,4400.0,1900.0,1,A4,399000,2022-09-29,1,ONE FAMILY DWELLINGS,2022,9,10009.0,1900.0,40.721716,-73.978275
1,1,ALPHABET CITY,1,377,1,S2,10009.0,2,1,3,1502.0,2790.0,1901.0,1,S2,2999999,2022-09-15,2,TWO FAMILY DWELLINGS,2022,9,10009.0,1901.0,40.724184,-73.978458
2,1,CHELSEA,1,720,6,A4,10011.0,1,0,1,1562.0,4150.0,1901.0,1,A4,11100000,2022-06-17,1,ONE FAMILY DWELLINGS,2022,6,10011.0,1856.0,40.747039,-74.004085
3,1,CHELSEA,1,767,17,A4,10011.0,1,0,1,993.0,4500.0,1910.0,1,A4,6995000,2022-07-28,1,ONE FAMILY DWELLINGS,2022,7,10011.0,1910.0,40.741203,-73.999664
4,1,CHELSEA,1,769,52,S1,10011.0,1,1,2,2300.0,4298.0,1901.0,1,S1,4400000,2022-04-08,1,ONE FAMILY DWELLINGS,2022,4,10011.0,1901.0,40.742579,-73.998376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549063,5,WOODROW,1,6913,70,A1,10309.0,1,0,1,4000.0,2124.0,1970.0,1,A1,810000,2023-08-24,1,ONE FAMILY DWELLINGS,2023,8,10309.0,1970.0,40.533101,-74.204407
549064,5,WOODROW,1,6958,24,A5,10309.0,1,0,1,800.0,960.0,1987.0,1,A5,357000,2023-10-31,1,ONE FAMILY DWELLINGS,2023,10,10309.0,1987.0,40.535675,-74.210984
549065,5,WOODROW,1,6971,12,A1,10309.0,1,0,1,4000.0,1632.0,1970.0,1,A1,830000,2023-10-31,1,ONE FAMILY DWELLINGS,2023,10,10309.0,1970.0,40.539220,-74.210200
549066,5,WOODROW,1,6914,51,B2,10309.0,2,0,2,6000.0,1932.0,1976.0,1,B2,949000,2023-10-11,2,TWO FAMILY DWELLINGS,2023,10,10309.0,1976.0,40.534276,-74.204242
549067,5,WOODROW,1,7267,176,B9,10309.0,2,0,2,2655.0,2700.0,1996.0,1,B9,679000,2023-11-13,2,TWO FAMILY DWELLINGS,2023,11,10309.0,1996.0,40.539038,-74.222349

In [10]:
sales_pluto_combined['ZIP CODE'].isnull().sum()

np.int64(0)

In [11]:
sales_pluto_combined.loc[sales_pluto_combined['ZIP CODE'].isnull() & sales_pluto_combined['postcode'].notnull(), 'ZIP CODE'] = sales_pluto_combined['postcode']

In [12]:
print(f"Null values in 'ZIP CODE' after imputation: {sales_pluto_combined['ZIP CODE'].isnull().sum()}")

Null values in 'ZIP CODE' after imputation: 0

In [13]:
sales_pluto_combined[sales_pluto_combined['ZIP CODE'].isnull()]

Empty DataFrame
Columns: [BOROUGH, NEIGHBORHOOD, TAX CLASS AT PRESENT, BLOCK, LOT, BUILDING CLASS AT PRESENT, ZIP CODE, RESIDENTIAL UNITS, COMMERCIAL UNITS, TOTAL UNITS, LAND SQUARE FEET, GROSS SQUARE FEET, YEAR BUILT, TAX CLASS AT TIME OF SALE, BUILDING CLASS AT TIME OF SALE, SALE PRICE, SALE DATE, BUILDING CLASS CATEGORY NUMBER, BUILDING CLASS CATEGORY DESCRIPTION, SALE YEAR, SALE MONTH, postcode, yearbuilt, latitude, longitude]
Index: []

In [14]:
sales_pluto_combined = sales_pluto_combined.drop(index=[134786, 134787])
print(f"Null values in 'ZIP CODE' after dropping rows: {sales_pluto_combined['ZIP CODE'].isnull().sum()}")

Null values in 'ZIP CODE' after dropping rows: 0

In [15]:
sales_pluto_combined.info()

<class 'pandas.core.frame.DataFrame'>
Index: 549066 entries, 0 to 549067
Data columns (total 25 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   BOROUGH                              549066 non-null  int64
 1   NEIGHBORHOOD                         549066 non-null  object
 2   TAX CLASS AT PRESENT                 549066 non-null  object
 3   BLOCK                                549066 non-null  int64
 4   LOT                                  549066 non-null  int64
 5   BUILDING CLASS AT PRESENT            549066 non-null  object
 6   ZIP CODE                             549066 non-null  float64
 7   RESIDENTIAL UNITS                    549066 non-null  int64
 8   COMMERCIAL UNITS                     549066 non-null  int64
 9   TOTAL UNITS                          549066 non-null  int64
 10  LAND SQUARE FEET                     549066 non-null  float64
 11  GROSS SQUARE FEET                    549066 non-null  float64
 12  YEAR BUILT                           548983 non-null  float64
 13  TAX CLASS AT TIME OF SALE            549066 non-null  int64
 14  BUILDING CLASS AT TIME OF SALE       549066 non-null  object
 15  SALE PRICE                           549066 non-null  int64
 16  SALE DATE                            549066 non-null  object
 17  BUILDING CLASS CATEGORY NUMBER       549066 non-null  int64
 18  BUILDING CLASS CATEGORY DESCRIPTION  549066 non-null  object
 19  SALE YEAR                            549066 non-null  int64
 20  SALE MONTH                           549066 non-null  int64
 21  postcode                             541867 non-null  float64
 22  yearbuilt                            541967 non-null  float64
 23  latitude                             541878 non-null  float64
 24  longitude                            541878 non-null  float64
dtypes: float64(8), int64(11), object(6)
memory usage: 108.9+ MB

In [16]:
sales_pluto_combined.loc[sales_pluto_combined['YEAR BUILT'].isnull() & sales_pluto_combined['yearbuilt'].notnull(), 'YEAR BUILT'] = sales_pluto_combined['yearbuilt']

In [17]:
print(f"Null values in 'YEAR BUILT' after imputation: {sales_pluto_combined['YEAR BUILT'].isnull().sum()}")

Null values in 'YEAR BUILT' after imputation: 6

In [18]:
sales_pluto_combined = sales_pluto_combined.dropna(subset=['YEAR BUILT'])
print(f"Null values in 'YEAR BUILT' after dropping rows: {sales_pluto_combined['YEAR BUILT'].isnull().sum()}")

Null values in 'YEAR BUILT' after dropping rows: 0

In [19]:
sales_pluto_combined.info()

<class 'pandas.core.frame.DataFrame'>
Index: 549060 entries, 0 to 549067
Data columns (total 25 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   BOROUGH                              549060 non-null  int64
 1   NEIGHBORHOOD                         549060 non-null  object
 2   TAX CLASS AT PRESENT                 549060 non-null  object
 3   BLOCK                                549060 non-null  int64
 4   LOT                                  549060 non-null  int64
 5   BUILDING CLASS AT PRESENT            549060 non-null  object
 6   ZIP CODE                             549060 non-null  float64
 7   RESIDENTIAL UNITS                    549060 non-null  int64
 8   COMMERCIAL UNITS                     549060 non-null  int64
 9   TOTAL UNITS                          549060 non-null  int64
 10  LAND SQUARE FEET                     549060 non-null  float64
 11  GROSS SQUARE FEET                    549060 non-null  float64
 12  YEAR BUILT                           549060 non-null  float64
 13  TAX CLASS AT TIME OF SALE            549060 non-null  int64
 14  BUILDING CLASS AT TIME OF SALE       549060 non-null  object
 15  SALE PRICE                           549060 non-null  int64
 16  SALE DATE                            549060 non-null  object
 17  BUILDING CLASS CATEGORY NUMBER       549060 non-null  int64
 18  BUILDING CLASS CATEGORY DESCRIPTION  549060 non-null  object
 19  SALE YEAR                            549060 non-null  int64
 20  SALE MONTH                           549060 non-null  int64
 21  postcode                             541867 non-null  float64
 22  yearbuilt                            541967 non-null  float64
 23  latitude                             541878 non-null  float64
 24  longitude                            541878 non-null  float64
dtypes: float64(8), int64(11), object(6)
memory usage: 108.9+ MB

In [20]:
sales_pluto_combined = sales_pluto_combined.drop(columns=['postcode', 'yearbuilt'])
sales_pluto_combined.info()

<class 'pandas.core.frame.DataFrame'>
Index: 549060 entries, 0 to 549067
Data columns (total 23 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   BOROUGH                              549060 non-null  int64
 1   NEIGHBORHOOD                         549060 non-null  object
 2   TAX CLASS AT PRESENT                 549060 non-null  object
 3   BLOCK                                549060 non-null  int64
 4   LOT                                  549060 non-null  int64
 5   BUILDING CLASS AT PRESENT            549060 non-null  object
 6   ZIP CODE                             549060 non-null  float64
 7   RESIDENTIAL UNITS                    549060 non-null  int64
 8   COMMERCIAL UNITS                     549060 non-null  int64
 9   TOTAL UNITS                          549060 non-null  int64
 10  LAND SQUARE FEET                     549060 non-null  float64
 11  GROSS SQUARE FEET                    549060 non-null  float64
 12  YEAR BUILT                           549060 non-null  float64
 13  TAX CLASS AT TIME OF SALE            549060 non-null  int64
 14  BUILDING CLASS AT TIME OF SALE       549060 non-null  object
 15  SALE PRICE                           549060 non-null  int64
 16  SALE DATE                            549060 non-null  object
 17  BUILDING CLASS CATEGORY NUMBER       549060 non-null  int64
 18  BUILDING CLASS CATEGORY DESCRIPTION  549060 non-null  object
 19  SALE YEAR                            549060 non-null  int64
 20  SALE MONTH                           549060 non-null  int64
 21  latitude                             541878 non-null  float64
 22  longitude                            541878 non-null  float64
dtypes: float64(6), int64(11), object(6)
memory usage: 100.5+ MB

In [21]:
sales_pluto_combined['BUILDING CLASS CATEGORY DESCRIPTION'].isnull().sum()

np.int64(0)

In [22]:
sales_pluto_combined[sales_pluto_combined['BUILDING CLASS CATEGORY DESCRIPTION'].isnull()]

Empty DataFrame
Columns: [BOROUGH, NEIGHBORHOOD, TAX CLASS AT PRESENT, BLOCK, LOT, BUILDING CLASS AT PRESENT, ZIP CODE, RESIDENTIAL UNITS, COMMERCIAL UNITS, TOTAL UNITS, LAND SQUARE FEET, GROSS SQUARE FEET, YEAR BUILT, TAX CLASS AT TIME OF SALE, BUILDING CLASS AT TIME OF SALE, SALE PRICE, SALE DATE, BUILDING CLASS CATEGORY NUMBER, BUILDING CLASS CATEGORY DESCRIPTION, SALE YEAR, SALE MONTH, latitude, longitude]
Index: []

In [23]:
sales_pluto_combined = sales_pluto_combined.dropna(subset=['BUILDING CLASS CATEGORY DESCRIPTION'])
print(f"Null values in 'BUILDING CLASS CATEGORY DESCRIPTION' after dropping rows: {sales_pluto_combined['BUILDING CLASS CATEGORY DESCRIPTION'].isnull().sum()}")

Null values in 'BUILDING CLASS CATEGORY DESCRIPTION' after dropping rows: 0

In [24]:
sales_pluto_combined.info()

<class 'pandas.core.frame.DataFrame'>
Index: 549060 entries, 0 to 549067
Data columns (total 23 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   BOROUGH                              549060 non-null  int64
 1   NEIGHBORHOOD                         549060 non-null  object
 2   TAX CLASS AT PRESENT                 549060 non-null  object
 3   BLOCK                                549060 non-null  int64
 4   LOT                                  549060 non-null  int64
 5   BUILDING CLASS AT PRESENT            549060 non-null  object
 6   ZIP CODE                             549060 non-null  float64
 7   RESIDENTIAL UNITS                    549060 non-null  int64
 8   COMMERCIAL UNITS                     549060 non-null  int64
 9   TOTAL UNITS                          549060 non-null  int64
 10  LAND SQUARE FEET                     549060 non-null  float64
 11  GROSS SQUARE FEET                    549060 non-null  float64
 12  YEAR BUILT                           549060 non-null  float64
 13  TAX CLASS AT TIME OF SALE            549060 non-null  int64
 14  BUILDING CLASS AT TIME OF SALE       549060 non-null  object
 15  SALE PRICE                           549060 non-null  int64
 16  SALE DATE                            549060 non-null  object
 17  BUILDING CLASS CATEGORY NUMBER       549060 non-null  int64
 18  BUILDING CLASS CATEGORY DESCRIPTION  549060 non-null  object
 19  SALE YEAR                            549060 non-null  int64
 20  SALE MONTH                           549060 non-null  int64
 21  latitude                             541878 non-null  float64
 22  longitude                            541878 non-null  float64
dtypes: float64(6), int64(11), object(6)
memory usage: 100.5+ MB

In [25]:
sales_pluto_combined[sales_pluto_combined['latitude'].isnull() | sales_pluto_combined['longitude'].isnull()]

,BOROUGH,NEIGHBORHOOD,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,BUILDING CLASS CATEGORY NUMBER,BUILDING CLASS CATEGORY DESCRIPTION,SALE YEAR,SALE MONTH,latitude,longitude
63,1,GREENWICH VILLAGE-WEST,1,642,68,C0,10014.0,3,0,3,1814.0,4056.0,1899.0,1,C0,9200000,2022-06-29,3,THREE FAMILY DWELLINGS,2022,6,NaN,NaN
120,1,INWOOD,1,2215,64,B2,10463.0,2,0,2,2500.0,2240.0,1920.0,1,B2,1222000,2022-02-09,2,TWO FAMILY DWELLINGS,2022,2,NaN,NaN
129,1,MIDTOWN EAST,1,1342,48,A4,10022.0,1,0,1,1858.0,3348.0,1899.0,1,A4,4800000,2022-01-24,1,ONE FAMILY DWELLINGS,2022,1,NaN,NaN
234,1,WASHINGTON HEIGHTS LOWER,1,2134,150,A9,10032.0,1,0,1,1867.0,3352.0,1899.0,1,A9,2546506,2022-03-03,1,ONE FAMILY DWELLINGS,2022,3,NaN,NaN
235,1,WASHINGTON HEIGHTS LOWER,1,2134,151,A9,10032.0,1,0,1,1867.0,3240.0,1899.0,1,A9,2546506,2022-03-03,1,ONE FAMILY DWELLINGS,2022,3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547342,1,INWOOD,1,2215,550,B3,10463.0,2,0,2,5000.0,2655.0,1925.0,1,B3,998000,2023-11-20,2,TWO FAMILY DWELLINGS,2023,11,NaN,NaN
547439,2,MOTT HAVEN/PORT MORRIS,1B,2578,16,V0,10455.0,0,0,0,5500.0,0.0,1931.0,1,S1,4900000,2023-08-21,1,ONE FAMILY DWELLINGS,2023,8,NaN,NaN
547440,2,MOUNT HOPE/MOUNT EDEN,1,2802,33,A1,10457.0,1,0,1,2375.0,1825.0,1905.0,1,A1,1900000,2023-10-31,1,ONE FAMILY DWELLINGS,2023,10,NaN,NaN
548031,3,WILLIAMSBURG-CENTRAL,1,2231,56,A9,11206.0,1,0,1,1300.0,1537.0,1899.0,1,A9,999000,2023-11-02,1,ONE FAMILY DWELLINGS,2023,11,NaN,NaN
548032,3,WILLIAMSBURG-CENTRAL,1,2231,57,A9,11206.0,1,0,1,1300.0,1537.0,1899.0,1,A9,999000,2023-11-01,1,ONE FAMILY DWELLINGS,2023,11,NaN,NaN

Latitude and longitude were imputed using ZIP-code level centroids computed from 287,134 records with valid geolocation data. Remaining missing values were filled using global medians.

In [26]:
zip_coords = (
    sales_pluto_combined
    .groupby("ZIP CODE")[["latitude","longitude"]]
    .mean()
    .reset_index()
)

lat_map = zip_coords.set_index("ZIP CODE")["latitude"].to_dict()
lon_map = zip_coords.set_index("ZIP CODE")["longitude"].to_dict()

In [27]:
mask = sales_pluto_combined["latitude"].isna()

sales_pluto_combined.loc[mask, "latitude"] = (
    sales_pluto_combined.loc[mask, "ZIP CODE"].map(lat_map)
)

sales_pluto_combined.loc[mask, "longitude"] = (
    sales_pluto_combined.loc[mask, "ZIP CODE"].map(lon_map)
)

In [28]:
sales_pluto_combined.info()

<class 'pandas.core.frame.DataFrame'>
Index: 549060 entries, 0 to 549067
Data columns (total 23 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   BOROUGH                              549060 non-null  int64
 1   NEIGHBORHOOD                         549060 non-null  object
 2   TAX CLASS AT PRESENT                 549060 non-null  object
 3   BLOCK                                549060 non-null  int64
 4   LOT                                  549060 non-null  int64
 5   BUILDING CLASS AT PRESENT            549060 non-null  object
 6   ZIP CODE                             549060 non-null  float64
 7   RESIDENTIAL UNITS                    549060 non-null  int64
 8   COMMERCIAL UNITS                     549060 non-null  int64
 9   TOTAL UNITS                          549060 non-null  int64
 10  LAND SQUARE FEET                     549060 non-null  float64
 11  GROSS SQUARE FEET                    549060 non-null  float64
 12  YEAR BUILT                           549060 non-null  float64
 13  TAX CLASS AT TIME OF SALE            549060 non-null  int64
 14  BUILDING CLASS AT TIME OF SALE       549060 non-null  object
 15  SALE PRICE                           549060 non-null  int64
 16  SALE DATE                            549060 non-null  object
 17  BUILDING CLASS CATEGORY NUMBER       549060 non-null  int64
 18  BUILDING CLASS CATEGORY DESCRIPTION  549060 non-null  object
 19  SALE YEAR                            549060 non-null  int64
 20  SALE MONTH                           549060 non-null  int64
 21  latitude                             549060 non-null  float64
 22  longitude                            549060 non-null  float64
dtypes: float64(6), int64(11), object(6)
memory usage: 100.5+ MB

In [29]:
sales_pluto_combined[sales_pluto_combined['latitude'].isnull() | sales_pluto_combined['longitude'].isnull()]

Empty DataFrame
Columns: [BOROUGH, NEIGHBORHOOD, TAX CLASS AT PRESENT, BLOCK, LOT, BUILDING CLASS AT PRESENT, ZIP CODE, RESIDENTIAL UNITS, COMMERCIAL UNITS, TOTAL UNITS, LAND SQUARE FEET, GROSS SQUARE FEET, YEAR BUILT, TAX CLASS AT TIME OF SALE, BUILDING CLASS AT TIME OF SALE, SALE PRICE, SALE DATE, BUILDING CLASS CATEGORY NUMBER, BUILDING CLASS CATEGORY DESCRIPTION, SALE YEAR, SALE MONTH, latitude, longitude]
Index: []

For 63 entries, latitude and longitude is still missing. Borough level centroid was tried for imputation.

In [30]:
boro_centroid = (
    sales_pluto_combined
    .groupby("BOROUGH")[["latitude","longitude"]]
    .median()
)

mask = sales_pluto_combined["latitude"].isna()

sales_pluto_combined.loc[mask, "latitude"] = (
    sales_pluto_combined.loc[mask, "BOROUGH"]
    .map(boro_centroid["latitude"])
)

sales_pluto_combined.loc[mask, "longitude"] = (
    sales_pluto_combined.loc[mask, "BOROUGH"]
    .map(boro_centroid["longitude"])
)

In [31]:
sales_pluto_combined.info()

<class 'pandas.core.frame.DataFrame'>
Index: 549060 entries, 0 to 549067
Data columns (total 23 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   BOROUGH                              549060 non-null  int64
 1   NEIGHBORHOOD                         549060 non-null  object
 2   TAX CLASS AT PRESENT                 549060 non-null  object
 3   BLOCK                                549060 non-null  int64
 4   LOT                                  549060 non-null  int64
 5   BUILDING CLASS AT PRESENT            549060 non-null  object
 6   ZIP CODE                             549060 non-null  float64
 7   RESIDENTIAL UNITS                    549060 non-null  int64
 8   COMMERCIAL UNITS                     549060 non-null  int64
 9   TOTAL UNITS                          549060 non-null  int64
 10  LAND SQUARE FEET                     549060 non-null  float64
 11  GROSS SQUARE FEET                    549060 non-null  float64
 12  YEAR BUILT                           549060 non-null  float64
 13  TAX CLASS AT TIME OF SALE            549060 non-null  int64
 14  BUILDING CLASS AT TIME OF SALE       549060 non-null  object
 15  SALE PRICE                           549060 non-null  int64
 16  SALE DATE                            549060 non-null  object
 17  BUILDING CLASS CATEGORY NUMBER       549060 non-null  int64
 18  BUILDING CLASS CATEGORY DESCRIPTION  549060 non-null  object
 19  SALE YEAR                            549060 non-null  int64
 20  SALE MONTH                           549060 non-null  int64
 21  latitude                             549060 non-null  float64
 22  longitude                            549060 non-null  float64
dtypes: float64(6), int64(11), object(6)
memory usage: 100.5+ MB

In [32]:
cpi = pd.read_csv('/content/drive/MyDrive/NYC_property_sales_regression/cpi_index_clean.csv')

In [33]:
cpi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    252 non-null    object
 1   CPI     252 non-null    float64
 2   Year    252 non-null    int64
 3   Month   252 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 8.0+ KB

In [34]:
sales_pluto_cpi_combined = pd.merge(sales_pluto_combined, cpi, left_on=['SALE YEAR', 'SALE MONTH'], right_on=['Year', 'Month'], how='left')

In [35]:
sales_pluto_cpi_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549060 entries, 0 to 549059
Data columns (total 27 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   BOROUGH                              549060 non-null  int64
 1   NEIGHBORHOOD                         549060 non-null  object
 2   TAX CLASS AT PRESENT                 549060 non-null  object
 3   BLOCK                                549060 non-null  int64
 4   LOT                                  549060 non-null  int64
 5   BUILDING CLASS AT PRESENT            549060 non-null  object
 6   ZIP CODE                             549060 non-null  float64
 7   RESIDENTIAL UNITS                    549060 non-null  int64
 8   COMMERCIAL UNITS                     549060 non-null  int64
 9   TOTAL UNITS                          549060 non-null  int64
 10  LAND SQUARE FEET                     549060 non-null  float64
 11  GROSS SQUARE FEET                    549060 non-null  float64
 12  YEAR BUILT                           549060 non-null  float64
 13  TAX CLASS AT TIME OF SALE            549060 non-null  int64
 14  BUILDING CLASS AT TIME OF SALE       549060 non-null  object
 15  SALE PRICE                           549060 non-null  int64
 16  SALE DATE                            549060 non-null  object
 17  BUILDING CLASS CATEGORY NUMBER       549060 non-null  int64
 18  BUILDING CLASS CATEGORY DESCRIPTION  549060 non-null  object
 19  SALE YEAR                            549060 non-null  int64
 20  SALE MONTH                           549060 non-null  int64
 21  latitude                             549060 non-null  float64
 22  longitude                            549060 non-null  float64
 23  Date                                 549060 non-null  object
 24  CPI                                  549060 non-null  float64
 25  Year                                 549060 non-null  int64
 26  Month                                549060 non-null  int64
dtypes: float64(7), int64(13), object(7)
memory usage: 113.1+ MB

In [36]:
sales_pluto_cpi_combined

,BOROUGH,NEIGHBORHOOD,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,BUILDING CLASS CATEGORY NUMBER,BUILDING CLASS CATEGORY DESCRIPTION,SALE YEAR,SALE MONTH,latitude,longitude,Date,CPI,Year,Month
0,1,ALPHABET CITY,1,374,46,A4,10009.0,1,0,1,2116.0,4400.0,1900.0,1,A4,399000,2022-09-29,1,ONE FAMILY DWELLINGS,2022,9,40.721716,-73.978275,2022-09-01,296.808,2022,9
1,1,ALPHABET CITY,1,377,1,S2,10009.0,2,1,3,1502.0,2790.0,1901.0,1,S2,2999999,2022-09-15,2,TWO FAMILY DWELLINGS,2022,9,40.724184,-73.978458,2022-09-01,296.808,2022,9
2,1,CHELSEA,1,720,6,A4,10011.0,1,0,1,1562.0,4150.0,1901.0,1,A4,11100000,2022-06-17,1,ONE FAMILY DWELLINGS,2022,6,40.747039,-74.004085,2022-06-01,296.311,2022,6
3,1,CHELSEA,1,767,17,A4,10011.0,1,0,1,993.0,4500.0,1910.0,1,A4,6995000,2022-07-28,1,ONE FAMILY DWELLINGS,2022,7,40.741203,-73.999664,2022-07-01,296.276,2022,7
4,1,CHELSEA,1,769,52,S1,10011.0,1,1,2,2300.0,4298.0,1901.0,1,S1,4400000,2022-04-08,1,ONE FAMILY DWELLINGS,2022,4,40.742579,-73.998376,2022-04-01,289.109,2022,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549055,5,WOODROW,1,6913,70,A1,10309.0,1,0,1,4000.0,2124.0,1970.0,1,A1,810000,2023-08-24,1,ONE FAMILY DWELLINGS,2023,8,40.533101,-74.204407,2023-08-01,307.026,2023,8
549056,5,WOODROW,1,6958,24,A5,10309.0,1,0,1,800.0,960.0,1987.0,1,A5,357000,2023-10-31,1,ONE FAMILY DWELLINGS,2023,10,40.535675,-74.210984,2023-10-01,307.671,2023,10
549057,5,WOODROW,1,6971,12,A1,10309.0,1,0,1,4000.0,1632.0,1970.0,1,A1,830000,2023-10-31,1,ONE FAMILY DWELLINGS,2023,10,40.539220,-74.210200,2023-10-01,307.671,2023,10
549058,5,WOODROW,1,6914,51,B2,10309.0,2,0,2,6000.0,1932.0,1976.0,1,B2,949000,2023-10-11,2,TWO FAMILY DWELLINGS,2023,10,40.534276,-74.204242,2023-10-01,307.671,2023,10
549059,5,WOODROW,1,7267,176,B9,10309.0,2,0,2,2655.0,2700.0,1996.0,1,B9,679000,2023-11-13,2,TWO FAMILY DWELLINGS,2023,11,40.539038,-74.222349,2023-11-01,307.051,2023,11

As of now (January 22, 2026), the official CPI for January 2026 has not yet been published by the U.S. Bureau of Labor Statistics — it is scheduled for release on February 11, 2026.

Because the official January 2026 CPI number isn’t available yet, many analysts and modelers use an estimated or forecast value for that month when adjusting prices forward. For example, CPI forecast models (such as those from financial forecast centers) project the U.S. CPI-U to be around 325.17 (1982-84=100) for January 2026.

In [37]:
sales_pluto_cpi_combined['ADJUSTED SALE PRICE'] = sales_pluto_cpi_combined['SALE PRICE'] * (325.17 / sales_pluto_cpi_combined['CPI'])

In [38]:
sales_pluto_cpi_combined['ADJUSTED SALE PRICE'] = sales_pluto_cpi_combined['ADJUSTED SALE PRICE'].fillna(0).astype(int)

In [39]:
sales_pluto_cpi_combined

,BOROUGH,NEIGHBORHOOD,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,BUILDING CLASS CATEGORY NUMBER,BUILDING CLASS CATEGORY DESCRIPTION,SALE YEAR,SALE MONTH,latitude,longitude,Date,CPI,Year,Month,ADJUSTED SALE PRICE
0,1,ALPHABET CITY,1,374,46,A4,10009.0,1,0,1,2116.0,4400.0,1900.0,1,A4,399000,2022-09-29,1,ONE FAMILY DWELLINGS,2022,9,40.721716,-73.978275,2022-09-01,296.808,2022,9,437127
1,1,ALPHABET CITY,1,377,1,S2,10009.0,2,1,3,1502.0,2790.0,1901.0,1,S2,2999999,2022-09-15,2,TWO FAMILY DWELLINGS,2022,9,40.724184,-73.978458,2022-09-01,296.808,2022,9,3286669
2,1,CHELSEA,1,720,6,A4,10011.0,1,0,1,1562.0,4150.0,1901.0,1,A4,11100000,2022-06-17,1,ONE FAMILY DWELLINGS,2022,6,40.747039,-74.004085,2022-06-01,296.311,2022,6,12181076
3,1,CHELSEA,1,767,17,A4,10011.0,1,0,1,993.0,4500.0,1910.0,1,A4,6995000,2022-07-28,1,ONE FAMILY DWELLINGS,2022,7,40.741203,-73.999664,2022-07-01,296.276,2022,7,7677179
4,1,CHELSEA,1,769,52,S1,10011.0,1,1,2,2300.0,4298.0,1901.0,1,S1,4400000,2022-04-08,1,ONE FAMILY DWELLINGS,2022,4,40.742579,-73.998376,2022-04-01,289.109,2022,4,4948818
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549055,5,WOODROW,1,6913,70,A1,10309.0,1,0,1,4000.0,2124.0,1970.0,1,A1,810000,2023-08-24,1,ONE FAMILY DWELLINGS,2023,8,40.533101,-74.204407,2023-08-01,307.026,2023,8,857867
549056,5,WOODROW,1,6958,24,A5,10309.0,1,0,1,800.0,960.0,1987.0,1,A5,357000,2023-10-31,1,ONE FAMILY DWELLINGS,2023,10,40.535675,-74.210984,2023-10-01,307.671,2023,10,377304
549057,5,WOODROW,1,6971,12,A1,10309.0,1,0,1,4000.0,1632.0,1970.0,1,A1,830000,2023-10-31,1,ONE FAMILY DWELLINGS,2023,10,40.539220,-74.210200,2023-10-01,307.671,2023,10,877206
549058,5,WOODROW,1,6914,51,B2,10309.0,2,0,2,6000.0,1932.0,1976.0,1,B2,949000,2023-10-11,2,TWO FAMILY DWELLINGS,2023,10,40.534276,-74.204242,2023-10-01,307.671,2023,10,1002975
549059,5,WOODROW,1,7267,176,B9,10309.0,2,0,2,2655.0,2700.0,1996.0,1,B9,679000,2023-11-13,2,TWO FAMILY DWELLINGS,2023,11,40.539038,-74.222349,2023-11-01,307.051,2023,11,719067

In [40]:
sales_pluto_cpi_combined = sales_pluto_cpi_combined.drop(columns=['Date', 'Year', 'Month'])

In [41]:
sales_pluto_cpi_combined['YEAR BUILT'] = sales_pluto_cpi_combined['YEAR BUILT'].fillna(0).astype(int)
sales_pluto_cpi_combined['ZIP CODE'] = sales_pluto_cpi_combined['ZIP CODE'].fillna(0).astype(int)

In [42]:
sales_pluto_cpi_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549060 entries, 0 to 549059
Data columns (total 25 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   BOROUGH                              549060 non-null  int64
 1   NEIGHBORHOOD                         549060 non-null  object
 2   TAX CLASS AT PRESENT                 549060 non-null  object
 3   BLOCK                                549060 non-null  int64
 4   LOT                                  549060 non-null  int64
 5   BUILDING CLASS AT PRESENT            549060 non-null  object
 6   ZIP CODE                             549060 non-null  int64
 7   RESIDENTIAL UNITS                    549060 non-null  int64
 8   COMMERCIAL UNITS                     549060 non-null  int64
 9   TOTAL UNITS                          549060 non-null  int64
 10  LAND SQUARE FEET                     549060 non-null  float64
 11  GROSS SQUARE FEET                    549060 non-null  float64
 12  YEAR BUILT                           549060 non-null  int64
 13  TAX CLASS AT TIME OF SALE            549060 non-null  int64
 14  BUILDING CLASS AT TIME OF SALE       549060 non-null  object
 15  SALE PRICE                           549060 non-null  int64
 16  SALE DATE                            549060 non-null  object
 17  BUILDING CLASS CATEGORY NUMBER       549060 non-null  int64
 18  BUILDING CLASS CATEGORY DESCRIPTION  549060 non-null  object
 19  SALE YEAR                            549060 non-null  int64
 20  SALE MONTH                           549060 non-null  int64
 21  latitude                             549060 non-null  float64
 22  longitude                            549060 non-null  float64
 23  CPI                                  549060 non-null  float64
 24  ADJUSTED SALE PRICE                  549060 non-null  int64
dtypes: float64(5), int64(14), object(6)
memory usage: 104.7+ MB

In [43]:
sales_pluto_cpi_combined.to_csv('/content/drive/MyDrive/NYC_property_sales_regression/sales_pluto_cpi_combined_engineered.csv', index=False)